* {
    /*border: 1px solid black;*/
}

@media (max-width: 600) {
  
}

#main-doc {
    margin-left: 300px;
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    border: 1px solid black;
}

.nav-grid-itens {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-top: 1px solid black;
}

.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav01 {
   
}

#navbar header {
    font-weight: 1000;
    font-size:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
}